@{
@model IEnumerable<MVC.Models.Products>;

if(ViewData.ContainsKey("product")){
<div class="alert alert-success alert-dismissible">
    @ViewData["product"]
</div>
}

<a class="btn btn-success mb-5" asp-area="" asp-controller="Product" asp-action="NewProduct">Add New Product</a>
<table border="0" class="table table-responsive table-bordered">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Price</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    @foreach (Products products in Model)
    {
     <tr>
      <td>@products.ID</td>
      <td>@products.Name</td>
      <td>@products.Price</td>
      <td>
        <a asp-action="Detail" asp-route-id="@products.ID" class="btn btn-primary">View</a>
        <a asp-action="Edit" asp-route-id="@products.ID" class="btn btn-success">Edit</a>
        <a asp-action="Delete" asp-route-id="@products.ID" class="btn btn-danger">Delete</a>
      </td>

      
    </tr>
    }
  </tbody>
</table>
}




